<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Welcome to Shop</h1>
      </div>
      <header class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
          <li class="home"><%= link_to "Home", products_path %></li>
          <span><li>Total: <%= number_to_currency current_order.total_price %></li></span>
          <span><li>(<%= current_order.total_quantity %>)</li></span>
          <span><li><%= link_to "My Cart", cart_path %></li></span>

        </ul>

      </header>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>

    </div>
  </body>
</html>
